<br>
<div class="alert alert-success" role="alert">
  Room record successfully updated
</div>
<br>
<br>

<button type="button" class="btn btn-light btn-sm btn-outline-secondary"><%= link_to '<- Back to all room records', rooms_path %></button>
